body {
    background: rgb(36, 35, 35);
    color: rgb(255, 255, 255);
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin: 10px;
}
a  {
    color: rgb(200,250,250);
    text-decoration: none;
}

a:hover {
color: rgb(255,10,10)
}

.youtubefilmpje{
    margin: 10px;
    width: 560px;
    height: 315px;
}

#abonneerknop, #abonneerknop:hover {
    color: white    ;
    background-color: rgb(255,10,10);
    /* float:right; */
    padding: 5px 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
}

.knop{
    color: white    ;
    background-color: rgb(16, 5, 116);
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
}

.positielinksboven{
    position: fixed;
    top: 20px;
    left: 20px;
}

#achtergrondvideo{
    max-width:100%;
    min-height:100%;
    position: fixed;
    right: 0;
    bottom:0 ;
    z-index: -100;
}

#pagecontent{
    position: absolute;
    padding: 100px 150px;
    margin-top: 200px;
    width: calc(100vw - 400px);
    background-color: rgba(36, 35, 35, 0.8);
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

    #achtergrondvideo{
        max-width:10000%;
        min-height:100%;
        left:-700px;
    }
    #pagecontent{
        padding: 50px 25px;
        margin-top: 150px;
        width: 80vw;
    }
    h2 {
        font-size: 30px;
        margin: 5px;
    }
    .knop {
        margin: 5px;
        display:inline-block;
    }
    h3 {
        font-size: 15px;
    }
    .youtubefilmpje{
        width: 90%;
        height: 56vw;
    }
    .positielinksboven{ /* note to self: dit staat nu ONDERaan in de mobiele versie, beetje verwarrend maarja */
        top: auto;
        bottom: 20px;
    }
    #abonneerknop, #abonneerknop:hover {
        top: auto;
        bottom: 25px;
    }
    h1 {
        font-size: 25px;
        margin: 10px;
    }
}