body {
    background: rgb(36, 35, 35);
    color: rgb(255, 255, 255);
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin: 10px 0;
}

h4 {
    font-size:40px;
    margin: 5px 0;
}

h5 {
    font-size: 25px;
    margin:10px 0;
}

h6{
    font-size: 20px;
    margin: 0px 0;
}

.Jaartal-CV{
    color: rgb(65, 65, 65);
    font-size: 20px;
    min-width: min(500px, 15vw);
    display: inline-block;
    margin-left: 10px;
}

.streepje-in-rij{
    background-color: rgb(65, 64, 64);
    height: 1px;
    margin: 15px 0px;
    border: solid 20px white;
    border-right:none;
    border-left: none;
}

a  {
    color: rgb(200,250,250);
    text-decoration: none;
}

a:hover, #abonneerknop:hover {
color: rgba(255, 255, 255, 0.63) !important
}

.youtubefilmpje{
    margin: 10px;
    width: 560px;
    height: 315px;
}

#abonneerknop, #abonneerknop:hover {
    color: white    ;
    background-color: rgb(255,10,10);
    /* float:right; */
    padding: 5px 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
}


.knop{
    color: white    ;
    background-color: rgb(16, 5, 116);
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
}

.positielinksboven{
    position: fixed;
    top: 20px;
    left: 20px;
}

#achtergrondvideo{
    min-width:100%;
    min-height:100%;
    position: fixed;
    right: 0;
    bottom:0 ;
    z-index: -100;
}

#pagecontent{
    padding: 40px 150px;
    margin-top: 150px;
    width: calc(100vw - 400px);
    background-color: rgba(36, 35, 35, 0.8);
    border-right:solid 4px rgb(216, 216, 2)
}

#CVcontent{
    padding: 20px;
    margin-bottom:100px;
    margin-left: 100px;
    width: calc(100vw - 340px);
    background-color: rgb(255, 255, 255);
    border-right:solid 4px rgb(216, 216, 2); 
    color: black;

}

#Theo_foto {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.CV{
    width: calc(100vw - 500px) !important;
}

.CV-logo{
    /* height: 80px; */
    width: 80px;
    border-radius: 3px;
    margin-right: 15px;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

    #achtergrondvideo{
        max-width:10000%;
        min-height:100%;
        left:-700px;
    }
    #pagecontent{
        padding: 20px 25px;
        margin-top: 60px;
        width: 80vw;
    }
    h2 {
        font-size: 30px;
        margin: 5px;
    }
    .knop {
        margin-top: 10px;
        display:inline-block;
        font-size: 17px;
    }
    h3 {
        font-size: 15px;
    }
    .youtubefilmpje{
        width: 90%;
        height: 56vw;
    }
    .positielinksboven{ /* note to self: deze knop staat nu ONDERaan in de mobiele versie, beetje verwarrend maarja */
        top: auto;
        bottom: 20px;
    }
    #abonneerknop, #abonneerknop:hover {
        top: auto;
        bottom: 25px;
    }
    h1 {
        font-size: 25px;
        margin: 10px;
    }
    #Theo_foto {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
    #CVcontent{
        padding: 34px;
        margin-bottom:100px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-right:solid 4px rgb(216, 216, 2); 
        color: black;
    
    }
    .Jaartal-CV{
        display:none;
    }
    .CV{
        width: 100% !important;
    }
}